
 * {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    background-color: #777777;
    padding: 0px 50px 0px 50px;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
  }
  
  header {
    padding: 10px;
    margin-bottom: 10px;
    color: #777777;
    background-color: white;
  }
  
  section {
    padding: 10px;
    margin-bottom: 20px;
    background: white;
  }
  
  footer {
    padding: 10px;
    clear: both;
    background: white;
  }
  
  p {
    background-color: white;
    color: #777777;
  }

  .left {
    float: left;
    width: 58%;
  }
  
  .right {
    float: right;
    width: 40%;
    height: 302px;
  }

  .article {
    background-color: #777777;
    padding: 10px 20px 10px 20px;
    color: white;
  }

  #headertags {
    background-color: white;
    color: #777777;
    margin: 10px;
    font-weight: bold;
    line-height: 60px;
  }

  #ptags {
    background-color: white;
    color: #777777;
    margin: 10px;
    line-height: 60px;
  }