
 * {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    color: rgb(92, 92, 92);
  }
  
  header {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(92, 92, 92);
    background: #ddd;
  }
  
  section {
    padding: 10px;
    margin-bottom: 20px;
    background: #ddd;
  }
  
  footer {
    padding: 10px;
    clear: both;
    background: #ddd;
  }

  .left {
    float: left;
    width: 58%;
  }
  
  .right {
    float: right;
    width: 40%;
    height: 340px;
  }

  .article {
    background-color: #777777;
    padding: 10px 20px 10px 20px;
    color: white;
  }

  #headertags {
    background-color: white;
    color: #777777;
    margin: 10px;
    font-weight: bold;
    line-height: 60px;
  }

  #ptags {
    background-color: white;
    color: #777777;
    margin: 10px;
    line-height: 60px;
  }